@import "index";

.map-area {
  width: 75vw;
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}

input {
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #666;
  padding: 5px 5px 5px 0;
  margin: 15px 0;
}

button {
  width: 40%;
  font-size: 14px;
  padding: 10px;
  margin: 0 5%;
  cursor: pointer;
}

.add {
  background-color: red;
  color: white;
}
.cancel {
  background-color: white;
  border: 1px solid #666;
  color: #666;
}
